/* Reset Skeleton Defaults */
a, a:target {
	color: inherit;
	text-decoration: none;
}

/* Personal Flavour */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* Typography */

body {
	font-size: 16px;
	letter-spacing: .05em;
	color: #222222;
	font-family: "amblelight", "Raleway", Helvetica, Arial, sans-serif;
}

h1, h3{
	font-family: "big_johnregular", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
	font-size: 22px;
}

h3 {
	font-size: 28px;
}

body {
	background: #bbb;
}

body>header {
	padding-top: 30px;
	background-color: #646974;
}

body>header h1 {
	font-weight: bold;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0), 10px 7px 2px rgba(134, 129, 129, 0.36);
	text-decoration: none;
}

body>header div.title {
	text-align: center;
	color: #fff;
	padding: 20px;
	border: 2px solid #fff;
	background-color: #3a404c;
	display: block;
	max-width: 800px;
}

body>header div.nav {
	margin-top: 30px;
	background-color: #dfd9d6;
}

body>header div.nav a {
	padding-left: 5px;
	border-left: 1px solid black;
}

body>header div.nav a:first-of-type {
	padding-left: 0px;
	border-left: none;
}

body>header nav.left {
	margin-left: 25px;
}

body>header nav.right {
	margin-right: 25px;
}

article {
	padding: 20px 5px 20px 5px;
	margin: 5px 0 5px 0;
	background: whitesmoke;
}

article header h2 {
	margin-bottom: 5px;
	text-decoration: none;
}

article header {
	border-bottom: 1px solid black;
}

div.article {
	margin-top: 2rem;
}

div.article a:target {
	text-decoration: none;
}

div.article a {
	text-decoration: underline;
}

blockquote {
	padding: 0 1em;
	color: #777;
	border-left: 0.25em solid #ddd;
}

code {
	background: #888;
}
