body {
	letter-spacing: .02em;
	color: #222222;
	font-family: "amblelight", "Raleway", Helvetica, Arial, sans-serif;
}

.intro-header .page-heading .subheading, .intro-header .post-heading .subheading, .intro-header .site-heading .subheading, .navbar-custom, h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}

.header-bg {
	background: none;
	background: rgba(0,0,0,0.2);
}

body>header h1 {
	font-weight: bold;
	text-shadow: 0px 0px 0 rgba(0, 0, 0, 0), 10px 7px 2px rgba(134, 129, 129, 0.36);
	text-decoration: none;
}

body>header div.title {
	color: #fff;
	border: 2px solid #fff;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.4);
}

body>header div.title a {
	color: inherit;
}

body>header a:focus, body>header a:hover {
	text-decoration: none;
}

.intro-header .page-heading .subheading, .intro-header .site-heading .subheading {
	font-size: 20px;
}

p {
	margin: 0 0 10px;
}